:root {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
span {
  font-size: 20;
}
.accent {
  color: #6699ff;
}
.accent:hover {
  text-decoration: underline;
}
